doctype
html
   head
      title UWC
      include jade-includes/head.jade
   body
      .wrapper
         .promo
             .header
                .logo
                    img(src='img/logo.png' alt='')
                .header-left
                    a(href='#').login
                        | Login
                    a(href='#').sign-up
                        | Sign up
             .promo-text
                .title
                   | Share your
                   br
                   | holiday dreams
                .sub-title
                   | And find the perfect partner to fullfill it
                a(href='#').find-partner
                   | Find your holiday partner
         .how-it-works
             .title How Urlaubsglu&#776;ck works?