doctype
html
   head
      title UWC
      include jade-includes/head.jade
   body
      .wrapper
         .promo
             .header
                .logo
                    img(src='img/logo.png' alt='')
                .header-left
                    a(href='#').login
                        | Login
                    a(href='#').sign-up
                        | Sign up