body {
  font-family: "Montserrat", sans-serif; }
  body .wrapper {
    width: 100%; }
    body .wrapper .promo {
      width: 100%;
      background: url("../../img/promo.png") no-repeat top center;
      background-size: cover;
      min-height: 700px;
      padding-top: 38px; }
      body .wrapper .promo .header {
        width: 940px;
        max-width: 100%;
        margin: 0 auto; }
        body .wrapper .promo .header .logo {
          display: inline-block;
          float: left; }
        body .wrapper .promo .header-left {
          display: inline-block;
          float: right; }
          body .wrapper .promo .header-left a {
            color: #fff;
            text-decoration: none;
            font-size: 13px; }
          body .wrapper .promo .header-left .login {
            display: inline-block; }
            body .wrapper .promo .header-left .login:hover {
              border-top: 1px solid #fff; }
          body .wrapper .promo .header-left .sign-up {
            display: inline-block;
            vertical-align: middle;
            width: 90px;
            text-align: center;
            border: 2px solid #fff;
            border-radius: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 20px; }
      body .wrapper .promo-text {
        color: #fff;
        margin: 150px auto 0 auto;
        width: 940px;
        text-align: center; }
        body .wrapper .promo-text .title {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 55px;
          line-height: 60px; }
        body .wrapper .promo-text .sub-title {
          margin-top: 33px;
          font-size: 23px; }
        body .wrapper .promo-text .find-partner {
          display: block;
          background: #ff4e50;
          font-size: 13px;
          text-decoration: none;
          color: #fff;
          width: 225px;
          border-radius: 20px;
          margin: 40px auto 0 auto;
          padding-top: 13px;
          padding-bottom: 13px; }
    body .wrapper .how-it-works {
      width: 940px;
      margin: 100px auto 0 auto; }
      body .wrapper .how-it-works .title {
        text-align: center;
        font-weight: 600;
        color: #333333;
        font-size: 20px; }
      body .wrapper .how-it-works .steps {
        width: 100%;
        margin-top: 40px; }
        body .wrapper .how-it-works .steps .step {
          display: inline-block;
          vertical-align: text-top;
          width: 300px;
          height: 400px;
          border-radius: 3px;
          position: relative; }
          body .wrapper .how-it-works .steps .step .content {
            position: absolute;
            bottom: 0;
            color: #fff;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px; }
            body .wrapper .how-it-works .steps .step .content .badge {
              padding-top: 5px;
              padding-bottom: 5px;
              width: 70px;
              background: #ff4e50;
              font-size: 10px;
              border-radius: 10px;
              text-transform: uppercase;
              text-align: center;
              margin-bottom: 20px; }
            body .wrapper .how-it-works .steps .step .content .title {
              color: #fff;
              font-size: 25px;
              text-align: left; }
            body .wrapper .how-it-works .steps .step .content .desc {
              margin-top: 20px;
              font-size: 15px;
              color: #b6b5b4;
              font-family: "Roboto", sans-serif; }
        body .wrapper .how-it-works .steps .step-1 {
          background: url("../../img/step1.png") no-repeat; }
        body .wrapper .how-it-works .steps .step-2 {
          background: url("../../img/step2.png") no-repeat; }
        body .wrapper .how-it-works .steps .step-3 {
          background: url("../../img/step3.png") no-repeat; }
        body .wrapper .how-it-works .steps .step-middle {
          margin: 0 20px 0 20px; }

/*# sourceMappingURL=style.css.map */
