body {
  font-family: Arial, 'sans-serif'; }
  body .wrapper {
    width: 1120px;
    padding-bottom: 75px;
    margin: 0 auto; }
    body .wrapper header {
      display: block;
      width: 100%;
      height: 115px;
      padding-top: 10px;
      border-bottom: 4px solid #000; }
      body .wrapper header .logo {
        display: inline-block;
        vertical-align: top;
        margin-top: 30px; }
      body .wrapper header .num {
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: -32px;
        margin-left: 140px; }
      body .wrapper header .form {
        display: inline-block;
        vertical-align: top;
        float: right;
        position: relative;
        width: 120px;
        text-align: right; }
        body .wrapper header .form input {
          width: 96px;
          padding-right: 20px;
          float: right;
          height: 23px;
          border: 1px dashed #999999; }
        body .wrapper header .form .icon {
          position: absolute;
          top: 5px;
          right: 5px;
          margin-left: 20px; }
          body .wrapper header .form .icon img {
            cursor: pointer; }
        body .wrapper header .form a {
          display: block;
          width: 100%;
          margin-top: 40px;
          text-decoration: underline;
          font-weight: 700;
          color: #f07c00;
          font-size: 13px; }
        body .wrapper header .form .order {
          margin-top: 10px;
          width: 100%; }
          body .wrapper header .form .order img {
            display: inline-block;
            vertical-align: middle; }
          body .wrapper header .form .order a {
            display: inline-block;
            vertical-align: middle;
            text-align: right;
            margin-top: 0;
            width: 80px;
            color: #000; }
    body .wrapper .menu {
      display: block;
      width: 100%;
      height: 45px;
      border-bottom: 1px solid #000;
      margin-top: -3px; }
      body .wrapper .menu ul #first {
        margin-left: 60px; }
      body .wrapper .menu ul #active {
        border-top: 4px solid #f07c00;
        margin-top: -1px;
        width: 180px;
        margin-left: 65px;
        margin-right: 65px; }
      body .wrapper .menu ul #ac {
        margin-left: 0; }
      body .wrapper .menu ul li {
        display: inline-block;
        vertical-align: middle;
        margin-left: 90px;
        padding-top: 12px;
        text-align: center; }
        body .wrapper .menu ul li a {
          color: #000;
          font-weight: 700;
          text-decoration: underline;
          font-size: 13px; }
    body .wrapper .content {
      width: 100%;
      margin-top: 30px;
      padding-left: 35px;
      padding-right: 35px; }
      body .wrapper .content .text {
        width: 100%; }
        body .wrapper .content .text .title {
          font-weight: 700; }
        body .wrapper .content .text .article {
          width: 1045px;
          font-size: 13px;
          margin-top: 10px;
          line-height: 2; }
    body .wrapper .advantages {
      width: 100%;
      height: 640px;
      background: url("../../img/bg.png") center center no-repeat;
      margin-top: 50px; }
      body .wrapper .advantages .row {
        width: 100%; }
        body .wrapper .advantages .row .adv-item#a1 {
          margin-top: 5px;
          margin-left: 50px; }
        body .wrapper .advantages .row .adv-item#a2 {
          position: relative;
          top: -30px;
          margin-left: 100px; }
        body .wrapper .advantages .row .adv-item#a3 {
          position: relative;
          right: -110px; }
        body .wrapper .advantages .row .adv-item#a4 {
          margin-top: 145px;
          margin-left: 50px; }
        body .wrapper .advantages .row .adv-item#a5 {
          position: relative;
          top: 20px;
          margin-left: 100px; }
        body .wrapper .advantages .row .adv-item#a6 {
          position: relative;
          right: -110px;
          top: -35px; }
        body .wrapper .advantages .row .adv-item {
          width: 270px;
          display: inline-block; }
          body .wrapper .advantages .row .adv-item .bottom {
            margin-top: 20px; }
          body .wrapper .advantages .row .adv-item .desc {
            text-align: center;
            margin-bottom: 25px;
            font-size: 15px;
            line-height: 1.2; }
          body .wrapper .advantages .row .adv-item .adv {
            width: 140px;
            height: 140px;
            border: 4px solid #f07c00;
            border-radius: 40px;
            text-align: center;
            margin: 0 auto; }
            body .wrapper .advantages .row .adv-item .adv img {
              display: block;
              margin: 20px auto 0 auto; }
          body .wrapper .advantages .row .adv-item:hover .adv {
            border-color: #7bc7e5; }

/*# sourceMappingURL=style.css.map */
