@import "_var";
@media(min-width: 960px){
  .header{
    width: $block-width;
    max-width: 100%;
  }
  .steps {
    width: 100%;
    margin-top: 40px;
    .step {
      display: inline-block;
      vertical-align: text-top;
      height: 400px;
      width: 300px;
    }
  }
  .step-middle {
    margin: 0 20px 0 20px;
  }
  .partners{
    width: $block-width;
  }
  .footer {
    .content {
      width: $block-width;
      max-width: 100%;
    }
  }
  .grid-item {
    display: inline-block;
  }
  .mr-r {
    margin-right: 18px;
  }
  .footer{
    .logo{
      display: inline-block;
      vertical-align: text-top;
      margin-right: 100px;
    }
    .menu{
      display: inline-block;
      vertical-align: text-top;
      margin-top: 3px;
      margin-right: 90px;
      .menu-title{
        margin-bottom: 20px;
      }
    }
    .designed{
      display: inline-block;
      vertical-align: text-top;
      float: right;
    }
  }
}