@import "_var";
@media(min-width: 960px){
  .find-partner {
    width: 225px;
  }
  .other-partners {
    width: 190px;
  }
  .button{
    width: 160px;
  }
  .header{
    width: $block-width;
    max-width: 100%;
  }
  .steps {
    width: 100%;
    margin-top: 40px;
    .step {
      display: inline-block;
      vertical-align: text-top;
      height: 400px;
      width: 300px;
    }
  }
  .step-middle {
    margin: 0 20px 0 20px;
  }
  .partners{
    width: $block-width;
    .other-partners {
      margin: 40px auto 0 auto;
    }
  }
  .footer {
    .content {
      width: $block-width;
      max-width: 100%;
    }
  }
  .grid-item {
    display: inline-block;
  }
  .mr-r {
    margin-right: 18px;
  }
  .footer{
    .logo{
      display: inline-block;
      vertical-align: text-top;
      margin-right: 100px;
    }
    .menu{
      display: inline-block;
      vertical-align: text-top;
      margin-top: 3px;
      margin-right: 85px;
      .menu-title{
        margin-bottom: 15px;
      }
    }
    .designed{
      display: inline-block;
      vertical-align: text-top;
      float: right;
    }
  }
  .ideas-form{
    .form{
      input{
        display: inline-block;
        vertical-align: middle;
      }
      .button{
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }
  .header{
    .logo{
      display: inline-block;
      float: left;
    }
    &-left{
      display: inline-block;
      float: right;
    }
  }
}