@import "_var";
@media(min-width: 960px){
  .header{
    width: $block-width;
    max-width: 100%;
  }
  .steps {
    width: 100%;
    margin-top: 40px;
    .step {
      display: inline-block;
      vertical-align: text-top;
      height: 400px;
      width: 300px;
    }
  }
  .step-middle {
    margin: 0 20px 0 20px;
  }
  .partners{
    width: $block-width;
  }
  .footer {
    .content {
      width: $block-width;
      max-width: 100%;
    }
  }
}