@import "_var";

@media(max-width: 959px) and (min-width: 785px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
  .six {
    width: 63%;
  }
  .three {
    width: 31%;
  }
  .steps {
    width: 98%;
    margin: 40px auto 0 auto;
    .step {
      display: inline-block;
      vertical-align: text-top;
      height: 400px;
      width: 30%;
    }
  }
  .step-middle {
    margin: 0 20px 0 20px;
  }
  .partners {
    width: 480px;
    .partner {
      margin-bottom: 60px;
    }
  }
  .first {
    margin-left: 10px;
  }
  .footer{
    .content {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  .grid-item {
    display: inline-block;
  }
  .mr-r {
    margin-right: 18px;
  }
  .footer{
    .logo{
      display: inline-block;
      vertical-align: text-top;
      margin-right: 100px;
    }
    .menu{
      display: inline-block;
      vertical-align: text-top;
      margin-top: 3px;
      margin-right: 90px;
      .menu-title{
        margin-bottom: 20px;
      }
    }
    .designed{
      display: inline-block;
      vertical-align: text-top;
      float: right;
    }
  }
}