@import "_var";

@media(max-width: 785px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
  .steps {
    width: 100%;
    margin: 40px auto 0 auto;
    .step {
      display: block;
      width: 303px;
      height: 240px;
      margin: 10px auto;
    }
  }
  @media (max-width: 495px) {
    .partners {
      width: 220px;
      .partner {
        margin-bottom: 60px;
      }
    }
  }
  @media (min-width: 496px) {
    .partners {
      width: 480px;
      .partner {
        margin-bottom: 60px;
      }
    }
  }
  .grid-item {
    display: block;
    margin: 10px auto;
    width: 300px;
    height: 120px;
  }
  .first {
    margin-left: 10px;
  }
  .footer {
    .content {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  .grid-row{
    width: 300px;
    margin: 0 auto;
  }
  .grid-item {
    display: block;
    width: 300px;
    height: 120px;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px auto 0 auto;
    img{

    }
  }
  .footer{
    .logo{
      display: block;
      margin: 0 auto 20px auto;
    }
    .menu{
      display: block;
      margin: 0 auto;
      .menu-title{
        margin-bottom: 10px;
        text-align: center;
      }
      ul {
        display: block;
        margin: 0 auto 20px auto;
        width: 250px;
        li {
          display: inline-block;
          vertical-align: middle;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
    .designed{
      display: block;
      margin: 0 auto;
    }
  }
}