@import "_var";
@import "big-screen";
@import "small-screen";
@import "medium-screen";

body {
  font-family: $font;
  .wrapper {
    width: 100%;
    .promo {
      width: 100%;
      background: url('../../img/promo.png') no-repeat top center;
      background-size: cover;
      min-height: 700px;
      padding-top: 38px;
      .header {
        width: $block-width;
        max-width: 100%;
        margin: 0 auto;
        .logo {
          display: inline-block;
          float: left;
        }
        &-left {
          display: inline-block;
          float: right;
          a {
            color: #fff;
            text-decoration: none;
            font-size: 13px;
          }
          .login {
            display: inline-block;
            &:hover {
              border-top: 1px solid #fff;
            }
          }
          .sign-up {
            display: inline-block;
            vertical-align: middle;
            width: 90px;
            text-align: center;
            border: 2px solid #fff;
            border-radius: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 20px;
          }
        }
      }
      &-text {
        color: #fff;
        margin: 150px auto 0 auto;
        width: $block-width;
        text-align: center;
        .title {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 55px;
          line-height: 60px;
        }
        .sub-title {
          margin-top: 33px;
          font-size: 23px;
        }
        .find-partner {
          display: block;
          background: $pink;
          font-size: 13px;
          text-decoration: none;
          color: #fff;
          width: 225px;
          border-radius: 20px;
          margin: 40px auto 0 auto;
          padding-top: 13px;
          padding-bottom: 13px;
        }
      }
    }
    .how-it-works {
      width: $block-width;
      margin: 100px auto 0 auto;
      .title {
        text-align: center;
        font-weight: 600;
        color: $title-color;
        font-size: 20px;
      }
      .steps {
        width: 100%;
        margin-top: 40px;
        .step {
          display: inline-block;
          vertical-align: text-top;
          width: 300px;
          height: 400px;
          border-radius: 3px;
          position: relative;
          .content {
            position: absolute;
            bottom: 0;
            color: #fff;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            .badge {
              padding-top: 5px;
              padding-bottom: 5px;
              width: 70px;
              background: $pink;
              font-size: 10px;
              border-radius: 10px;
              text-transform: uppercase;
              text-align: center;
              margin-bottom: 20px;
            }
            .title{
              color: #fff;
              font-size: 25px;
              text-align: left;
            }
            .desc{
              margin-top: 20px;
              font-size: 15px;
              color: #b6b5b4;
              font-family: $roboto;
            }
          }
        }
        .step-1 {
          background: url('../../img/step1.png') no-repeat;
        }
        .step-2 {
          background: url('../../img/step2.png') no-repeat;
        }
        .step-3 {
          background: url('../../img/step3.png') no-repeat;
        }
        .step-middle {
          margin: 0 20px 0 20px;
        }
      }
    }
  }
}