@import "_var";
@import "big-screen";
@import "small-screen";
@import "medium-screen";

body {
  font-family: $font;
  .wrapper {
    width: 100%;
    .promo {
      width: 100%;
      background: url('../../img/promo.png') no-repeat fixed;
      background-size: cover;
      min-height: 665px;
      padding-top: 38px;
      .header {
        margin: 0 auto;
        .logo {

        }
        &-left {
          a {
            color: #fff;
            text-decoration: none;
            font-size: 13px;
          }
          .login {
            display: inline-block;
            &:hover {
              border-top: 1px solid #fff;
            }
          }
          .sign-up {
            display: inline-block;
            vertical-align: middle;
            width: 90px;
            text-align: center;
            border: 2px solid #fff;
            border-radius: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 20px;
          }
        }
      }
      &-text {
        color: #fff;
        margin: 180px auto 0 auto;
        width: $block-width;
        max-width: 100%;
        text-align: center;
        .title {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 55px;
          line-height: 60px;
        }
        .sub-title {
          margin-top: 33px;
          font-size: 23px;
          font-family: $roboto;
        }
        .find-partner {
          display: block;
          background: $pink;
          font-size: 13px;
          text-decoration: none;
          color: #fff;
          border-radius: 20px;
          margin: 40px auto 0 auto;
          padding-top: 13px;
          padding-bottom: 13px;
        }
      }
    }
    .how-it-works {
      width: $block-width;
      max-width: 100%;
      margin: 95px auto 0 auto;
      .title {
        text-align: center;
        font-weight: 600;
        color: $title-color;
        font-size: 23px;
      }
      .steps {
        .step {
          border-radius: 3px;
          position: relative;
          word-break: break-all;
          .content {
            max-width: 100%;
            position: absolute;
            bottom: 0;
            color: #fff;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            .badge {
              padding-top: 5px;
              padding-bottom: 5px;
              width: 70px;
              background: $pink;
              font-size: 10px;
              border-radius: 10px;
              text-transform: uppercase;
              text-align: center;
              margin-bottom: 20px;
            }
            .title {
              color: #fff;
              font-size: 25px;
              text-align: left;
            }
            .desc {
              margin-top: 20px;
              font-size: 15px;
              color: #aeacaa;
              font-family: $roboto;
            }
          }
        }
        .step-1 {
          background: url('../../img/step1.png') no-repeat;
        }
        .step-2 {
          background: url('../../img/step2.png') no-repeat;
        }
        .step-3 {
          background: url('../../img/step3.png') no-repeat;
        }
      }
    }
    .partners {
      max-width: 100%;
      margin: 90px auto 0 auto;
      .title {
        text-align: center;
        font-weight: 600;
        color: $title-color;
        font-size: 22px;
        margin-bottom: 40px;
      }
      .partner {
        display: inline-block;
        vertical-align: text-top;
        width: 220px;
        img {
          display: block;
          margin: 0 auto 15px auto;
        }
        .title {
          font-size: 15px;
          margin-bottom: 20px;
        }
        .desc {
          text-align: center;
          color: #858585;
          font-weight: normal;
          font-family: $roboto;
          font-size: 15px;
        }
        margin-right: 20px;
      }
      .last {
        margin-right: 0;
      }
      .other-partners {
        display: block;
        padding-top: 13px;
        padding-bottom: 13px;
        text-align: center;
        color: $pink;
        font-size: 13px;
        border: 2px solid $pink;
        border-radius: 20px;
        text-decoration: none;
        font-weight: 600;
      }
    }
    .ideas {
      width: $block-width;
      max-width: 100%;
      margin: 95px auto 0 auto;
      .title {
        text-align: center;
        font-weight: 600;
        color: $title-color;
        font-size: 23px;
        margin-bottom: 35px;
      }
      .grid-row {
        width: 100%;
        margin-bottom: 15px;
        .grid-item {
          position: relative;
          max-width: 100%;
          img{
            max-width: 100%;
          }
          .title {
            position: absolute;
            text-align: center;
            top: 43%;
            width: 100%;
            color: #fff;
            font-weight: 700;
            line-height: 1.2;
          }
        }
      }
    }
    .ideas-form {
      width: $block-width;
      max-width: 100%;
      margin: 0 auto;
      .title {
        text-align: center;
        font-weight: 600;
        color: $title-color;
        font-size: 22px;
        margin-bottom: 35px;
        margin-top: 95px;
      }
      .sub-title {
        font-family: $roboto;
        text-align: center;
        font-size: 18px;
        color: #696969;
        font-weight: 400;
        margin-bottom: 40px;
      }
      .form {
        margin: 0 auto 10px auto;
        width: 420px;
        max-width: 100%;
        input {
          width: 225px;
          padding-top: 13px;
          padding-bottom: 13px;
          padding-left: 15px;
          border: 1px solid #cccccc;
          border-radius: 5px;
          -webkit-box-shadow: 0 10px 26px -7px rgba(238, 238, 238, 1);
          -moz-box-shadow: 0 10px 26px -7px rgba(238, 238, 238, 1);
          box-shadow: 0 10px 26px -7px rgba(238, 238, 238, 1);
        }
        input::-webkit-input-placeholder {
          font-family: $roboto;
          font-size: 15px;
        }
        input:-moz-placeholder {
          font-family: $roboto;
          font-size: 15px;
        }
        .button{
          background: $pink;
          padding-top: 13px;
          padding-bottom: 13px;
          text-align: center;
          color:#fff;
          font-size: 13px;
          border-radius: 20px;
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
    .footer{
      width: 100%;
      margin-top: 100px;
      padding-top: 35px;
      border-top: 4px solid $pink;
      padding-bottom: 40px;
      .content{
        margin: 0 auto;
        .menu{
          .menu-title{
            font-size: 15px;
          }
          ul{
            li{
              padding-bottom: 5px;
              a{
                color: #858585;
                text-decoration: none;
                font-size: 15px;
                font-family: $roboto;
              }
            }
          }
        }
      }
    }
  }
}